Json File/IBM.json
[{"id":"3ae2d19d.07d80e","type":"tab","label":"Flow A","disabled":false,"info":""},{"id":"f6a9b316.e246e","type":"ibmiot in","z":"3ae2d19d.07d80e","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1804375","applicationId":"","deviceType":"gw-p1804375","eventType":"speedtest-upload","commandType":"","format":"String","name":"Raspberry Pi A's SpeedTest Upload","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":"1","x":160,"y":100,"wires":[["e8c109fd.113438","759415c7.75284c"]]},{"id":"7b8357b.4682ba8","type":"debug","z":"3ae2d19d.07d80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":550,"y":20,"wires":[]},{"id":"4e91f478.8c8c7c","type":"debug","z":"3ae2d19d.07d80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":590,"y":280,"wires":[]},{"id":"582c0c64.da9994","type":"ibmiot in","z":"3ae2d19d.07d80e","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1804375","applicationId":"","deviceType":"gw-p1804375","eventType":"speedtest-download","commandType":"","format":"String","name":"Raspberry Pi A's SpeedTest Download","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":"","qos":"1","x":170,"y":360,"wires":[["b5e9299d.cba878","50a0c3bd.de1fec"]]},{"id":"e8c109fd.113438","type":"function","z":"3ae2d19d.07d80e","name":"upload value","func":"var upload = msg.payload;\n\nmsg.payload = Math.ceil(upload) + \" Megabits Per Second\";\nglobal.set('uploadval', upload)\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":40,"wires":[["7b8357b.4682ba8","75f0918a.c5a82"]]},{"id":"75f0918a.c5a82","type":"ui_gauge","z":"3ae2d19d.07d80e","name":"","group":"cf8b8b96.b67808","order":0,"width":"6","height":"6","gtype":"gage","title":"Upload","label":"Mbps","format":"{{value}}","min":0,"max":"100","colors":["#d00000","#e6e600","#00c100"],"seg1":"","seg2":"","x":540,"y":60,"wires":[]},{"id":"ea588eee.e857a","type":"ui_gauge","z":"3ae2d19d.07d80e","name":"","group":"cf8b8b96.b67808","order":1,"width":"6","height":"6","gtype":"gage","title":"Download","label":"Mbps","format":"{{value}}","min":0,"max":"100","colors":["#d50000","#e6e600","#00d000"],"seg1":"","seg2":"","x":580,"y":320,"wires":[]},{"id":"759415c7.75284c","type":"function","z":"3ae2d19d.07d80e","name":"input upload speed to cloudant","func":"var upload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":160,"wires":[["f05cf6e5.940e88","8b752a1d.efa298"]]},{"id":"f05cf6e5.940e88","type":"cloudant out","z":"3ae2d19d.07d80e","name":"store upload value","cloudant":"","database":"upload","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","payonly":true,"operation":"insert","x":690,"y":120,"wires":[]},{"id":"8b752a1d.efa298","type":"debug","z":"3ae2d19d.07d80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":670,"y":160,"wires":[]},{"id":"b5e9299d.cba878","type":"function","z":"3ae2d19d.07d80e","name":"input download speed to cloudant","func":"var download = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":420,"wires":[["3dd44207.52e97e","28745341.6a853c"]]},{"id":"3dd44207.52e97e","type":"cloudant out","z":"3ae2d19d.07d80e","name":"store download value","cloudant":"","database":"download","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","payonly":true,"operation":"insert","x":740,"y":380,"wires":[]},{"id":"28745341.6a853c","type":"debug","z":"3ae2d19d.07d80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":420,"wires":[]},{"id":"fb7bfcf4.f1d13","type":"ui_switch","z":"3ae2d19d.07d80e","name":"Bulb","label":"","tooltip":"","group":"986e89f1.d89b78","order":0,"width":"3","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":70,"y":540,"wires":[["39c9d564.bd764a","39f3022a.89d8ee"]]},{"id":"6e2e07c6.8295b8","type":"debug","z":"3ae2d19d.07d80e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":530,"y":520,"wires":[]},{"id":"8c10c700.3fcd18","type":"ibmiot out","z":"3ae2d19d.07d80e","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gwid-p1804375","deviceType":"gw-p1804375","eventCommandType":"Bulb","format":"json","data":"{}","qos":"1","name":"Sending to Raspberry Pi A","service":"registered","x":580,"y":480,"wires":[]},{"id":"39c9d564.bd764a","type":"function","z":"3ae2d19d.07d80e","name":"on/off bulb","func":"signal = msg.payload\nif (signal == 1)\n  msg.payload = {'led': 1};\nelse\n  msg.payload = {'led': 0};\n\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":520,"wires":[["b7fe31b7.feff9"]]},{"id":"b7fe31b7.feff9","type":"json","z":"3ae2d19d.07d80e","name":"","property":"payload","action":"","pretty":false,"x":390,"y":520,"wires":[["8c10c700.3fcd18","6e2e07c6.8295b8"]]},{"id":"50a0c3bd.de1fec","type":"function","z":"3ae2d19d.07d80e","name":"download value","func":"var download = msg.payload;\n\nmsg.payload = Math.ceil(download) + \" Megabits Per Second\";\nglobal.set('downloadval', download)\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["4e91f478.8c8c7c","ea588eee.e857a"]]},{"id":"39f3022a.89d8ee","type":"function","z":"3ae2d19d.07d80e","name":"Setting On Off Text","func":"signal = msg.payload\nif (signal == 1)\n  msg.payload = 'On';\nelse\n  msg.payload = 'Off';\n\nreturn msg;","outputs":1,"noerr":0,"x":230,"y":560,"wires":[["1b481ae6.f1b0f5"]]},{"id":"1b481ae6.f1b0f5","type":"ui_text","z":"3ae2d19d.07d80e","group":"986e89f1.d89b78","order":3,"width":"2","height":"1","name":"On/Off Text Beside Bulb","label":"","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":560,"wires":[]},{"id":"64b448b1.89c888","type":"tab","label":"Flow B","disabled":false,"info":""},{"id":"fea9e41f.718c08","type":"ibmiot in","z":"64b448b1.89c888","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1828555","applicationId":"","deviceType":"gw-p1828555","eventType":"light","commandType":"","format":"json","name":"Get light value from Raspberry Pi B","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":160,"y":60,"wires":[["dba52245.8d7a"]]},{"id":"dba52245.8d7a","type":"function","z":"64b448b1.89c888","name":"Send On/off Command","func":"light = parseInt(msg.payload.d.light)\nif ((light)<300)\n  msg.payload = {'led': 1};\nelse\n  msg.payload = {'led': 0};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["91bb9f69.dcdb6"]]},{"id":"91bb9f69.dcdb6","type":"json","z":"64b448b1.89c888","name":"","property":"payload","action":"","pretty":false,"x":590,"y":60,"wires":[["51d8ee38.3b137","24a4afca.6ad8b"]]},{"id":"51d8ee38.3b137","type":"ibmiot out","z":"64b448b1.89c888","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gw-p1828555","deviceType":"gw-p1828555","eventCommandType":"led","format":"json","data":"{}","qos":0,"name":"Send signal to Raspberry Pi B","service":"registered","x":790,"y":80,"wires":[]},{"id":"24a4afca.6ad8b","type":"debug","z":"64b448b1.89c888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":730,"y":40,"wires":[]},{"id":"5f73f782.57da18","type":"ibmiot in","z":"64b448b1.89c888","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1828555","applicationId":"","deviceType":"gw-p1828555","eventType":"light","commandType":"","format":"json","name":"Get light value from Raspberry Pi B","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":160,"y":160,"wires":[["15895942.2f6bf7"]]},{"id":"15895942.2f6bf7","type":"function","z":"64b448b1.89c888","name":"light value","func":"light = parseInt(msg.payload.d.light)\nmsg.payload =light\nglobal.set('light', light)\n\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":160,"wires":[["a9eec8ef.9c6ca8"]]},{"id":"cbc4d302.b0eca","type":"ui_chart","z":"64b448b1.89c888","name":"","group":"6a67755e.f0070c","order":2,"width":"12","height":"6","label":"chart","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":670,"y":140,"wires":[[]]},{"id":"a9eec8ef.9c6ca8","type":"json","z":"64b448b1.89c888","name":"","property":"payload","action":"","pretty":false,"x":550,"y":160,"wires":[["cbc4d302.b0eca","1316c483.bcec6b"]]},{"id":"bd07aade.365608","type":"ibmiot in","z":"64b448b1.89c888","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1828555","applicationId":"","deviceType":"gw-p1828555","eventType":"temperature","commandType":"","format":"String","name":"Get Temp value from Raspberry Pi B","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":160,"y":280,"wires":[["b75ebaf5.314248"]]},{"id":"702d2622.1e6288","type":"ibmiot in","z":"64b448b1.89c888","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1828555","applicationId":"","deviceType":"gw-p1828555","eventType":"humidity","commandType":"","format":"String","name":"Get Humidity value from Raspberry Pi B","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":170,"y":420,"wires":[["4e0def13.ae12b"]]},{"id":"b75ebaf5.314248","type":"function","z":"64b448b1.89c888","name":"temp value","func":"var temp = msg.payload;\nmsg.payload= temp\n\nglobal.set('temp', temp)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["4f3b436d.81991c","4f513758.91b8e8","7a4c14e0.5dd26c"]]},{"id":"4e0def13.ae12b","type":"function","z":"64b448b1.89c888","name":"hum value","func":"var hum = msg.payload;\nmsg.payload=hum\nglobal.set('hum', hum)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":420,"wires":[["ab9a8355.acc4c","61eb970a.deb758","2832f8f4.ecf9d8"]]},{"id":"4f3b436d.81991c","type":"ui_gauge","z":"64b448b1.89c888","name":"","group":"ab7f3d98.08281","order":0,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":570,"y":240,"wires":[]},{"id":"ab9a8355.acc4c","type":"ui_gauge","z":"64b448b1.89c888","name":"","group":"ab7f3d98.08281","order":2,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":560,"y":380,"wires":[]},{"id":"4f513758.91b8e8","type":"debug","z":"64b448b1.89c888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":280,"wires":[]},{"id":"61eb970a.deb758","type":"debug","z":"64b448b1.89c888","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":420,"wires":[]},{"id":"f70a97b3.6936b8","type":"ui_template","z":"64b448b1.89c888","group":"9a6ade01.3a2be","name":"Clock Toolbar","order":2,"width":"0","height":"0","format":"<script id=\"titleScript\" type=\"text/javascript\">\n\n$(function() {\n    if($('.md-toolbar-tools').length != 0){\n        loadClock();\n    }else setTimeout(loadClock, 500)\n});\n\nfunction loadClock(){\n    $('#clock').remove();\n    var toolbar = $('.md-toolbar-tools');\n    \n    var div = $('<div/>');\n    var p = $('<p/ id=\"clock\">');\n    \n    div.append(p);\n    div[0].style.margin = '5px 5px 5px auto';\n    toolbar.append(div);\n\n    function displayTitle(lh) {\n        p.text(lh); \n    }\n    \n    function upTime() {\n        var d = new Date();\n        p.text(d.toLocaleString());\n    }\n\n    if(document.clockInterval){ \n            clearInterval(document.clockInterval);\n            document.clockInterval = null;\n    }\n        \n    document.clockInterval = setInterval(upTime,1000);\n}\n\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":380,"y":540,"wires":[[]]},{"id":"7a4c14e0.5dd26c","type":"cloudant out","z":"64b448b1.89c888","name":"","cloudant":"","database":"temp","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","payonly":true,"operation":"insert","x":550,"y":320,"wires":[]},{"id":"2832f8f4.ecf9d8","type":"cloudant out","z":"64b448b1.89c888","name":"","cloudant":"","database":"hum","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","payonly":true,"operation":"insert","x":550,"y":460,"wires":[]},{"id":"1316c483.bcec6b","type":"cloudant out","z":"64b448b1.89c888","name":"","cloudant":"","database":"light","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","payonly":true,"operation":"insert","x":670,"y":180,"wires":[]},{"id":"6c1e769d.dedf98","type":"function","z":"64b448b1.89c888","name":"Read value function","func":"var msgs=[];\nfor(var i = 0; i< msg.payload.length;i++){\n    \n    msgs.push({payload: msg.payload[i]});\n}\nreturn {payload:msgs[0].payload.name};","outputs":1,"noerr":0,"x":800,"y":300,"wires":[["a84aa3a.f94e06"]]},{"id":"54be2848.7c40e8","type":"cloudant in","z":"64b448b1.89c888","name":"","cloudant":"5cede54.d8b3b1c","database":"light","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":810,"y":240,"wires":[["6c1e769d.dedf98"]]},{"id":"433b60f7.f3097","type":"inject","z":"64b448b1.89c888","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":820,"y":200,"wires":[["54be2848.7c40e8"]]},{"id":"a84aa3a.f94e06","type":"debug","z":"64b448b1.89c888","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":360,"wires":[]},{"id":"2466b09a.5a482","type":"tab","label":"Flow C","disabled":false,"info":""},{"id":"7bc89682.5da628","type":"ui_button","z":"2466b09a.5a482","name":"","group":"e7a69366.7843b","order":1,"width":0,"height":0,"passthru":false,"label":"Alarm On","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"buttonOn","x":80,"y":40,"wires":[["1e74deee.36fc51"]]},{"id":"1e74deee.36fc51","type":"ibmiot out","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gwid-p1843059","deviceType":"gw-p1843059","eventCommandType":"buttonOn","format":"json","data":"{}","qos":0,"name":"Send signal to Raspberry Pi C to turn on alarm","service":"registered","x":360,"y":40,"wires":[]},{"id":"8b5b43de.43179","type":"ui_button","z":"2466b09a.5a482","name":"","group":"e7a69366.7843b","order":2,"width":0,"height":0,"passthru":false,"label":"Alarm Off","tooltip":"","color":"","bgcolor":"","icon":"","payload":"0","payloadType":"num","topic":"buttonOff","x":80,"y":80,"wires":[["255d9f61.bf342"]]},{"id":"255d9f61.bf342","type":"ibmiot out","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gwid-p1843059","deviceType":"gw-p1843059","eventCommandType":"buttonOff","format":"json","data":"{}","qos":0,"name":"Send signal to Raspberry Pi C to turn off alarm","service":"registered","x":360,"y":80,"wires":[]},{"id":"a24f6418.f18fe8","type":"ui_text","z":"2466b09a.5a482","group":"e7a69366.7843b","order":3,"width":0,"height":0,"name":"Display Alarm Status","label":"","format":"{{msg.payload}}","layout":"col-center","x":780,"y":160,"wires":[]},{"id":"382c057f.454f3a","type":"ibmiot in","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1843059","applicationId":"","deviceType":"gw-p1843059","eventType":"alarmon","commandType":"","format":"json","name":"Retrieve alarm status from Raspberry Pi C","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":false,"qos":"0","x":180,"y":140,"wires":[["cb7b28a2.648ec8"]]},{"id":"cb7b28a2.648ec8","type":"function","z":"2466b09a.5a482","name":"Parse in alarm status","func":"msg.payload = 'Alarm Turned On'\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":140,"wires":[["a24f6418.f18fe8"]]},{"id":"5298d944.4c8128","type":"ui_button","z":"2466b09a.5a482","name":"","group":"a730d5b2.4ab118","order":1,"width":0,"height":0,"passthru":false,"label":"Add Tag","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"AddTag","x":80,"y":260,"wires":[["ebb7eee4.bcefd"]]},{"id":"ebb7eee4.bcefd","type":"ibmiot out","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gwid-p1843059","deviceType":"gw-p1843059","eventCommandType":"AddTag","format":"json","data":"{}","qos":0,"name":"Send data to Raspberry Pi C to add tag","service":"registered","x":320,"y":260,"wires":[]},{"id":"ecc68aab.e6fcb8","type":"ui_button","z":"2466b09a.5a482","name":"","group":"a730d5b2.4ab118","order":2,"width":0,"height":0,"passthru":false,"label":"Delete Tag","tooltip":"","color":"","bgcolor":"","icon":"","payload":"true","payloadType":"bool","topic":"DelTag","x":570,"y":260,"wires":[["f47577e6.13aad8"]]},{"id":"f47577e6.13aad8","type":"ibmiot out","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gwid-p1843059","deviceType":"gw-p1843059","eventCommandType":"DelTag","format":"json","data":"{}","qos":0,"name":"Send data to Raspberry Pi C to delete tag","service":"registered","x":820,"y":260,"wires":[]},{"id":"102fa412.287acc","type":"ibmiot in","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1843059","applicationId":"","deviceType":"gw-p1843059","eventType":"card","commandType":"","format":"","name":"Retrieve the status of door locks from Raspberry Pi C ","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":210,"y":420,"wires":[["77addc83.3c3234"]]},{"id":"e76a7d5.499568","type":"ui_text","z":"2466b09a.5a482","group":"a730d5b2.4ab118","order":6,"width":0,"height":0,"name":"Display the access status and tag ID","label":"","format":"{{msg.payload}}","layout":"row-spread","x":890,"y":440,"wires":[]},{"id":"c054f1bc.5ba5b","type":"ibmiot in","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1843059","applicationId":"","deviceType":"gw-p1843059","eventType":"alarmoff","commandType":"","format":"json","name":"Retrieve alarm status from Raspberry Pi C","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":"","allCommands":"","allFormats":false,"qos":"0","x":180,"y":180,"wires":[["f6a0c671.0f4da8"]]},{"id":"f6a0c671.0f4da8","type":"function","z":"2466b09a.5a482","name":"Parse in alarm status","func":"msg.payload = 'Alarm Turned Off'\nreturn msg;\n","outputs":1,"noerr":0,"x":520,"y":180,"wires":[["a24f6418.f18fe8"]]},{"id":"77addc83.3c3234","type":"function","z":"2466b09a.5a482","name":"Parse in value when a card is tapped","func":"msg.payload = msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":420,"wires":[["e76a7d5.499568","9ddb5611.7ff3c8"]]},{"id":"9ddb5611.7ff3c8","type":"split","z":"2466b09a.5a482","name":"","splt":" - UID of card is ","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":790,"y":400,"wires":[["da354398.23823"]]},{"id":"da354398.23823","type":"cloudant out","z":"2466b09a.5a482","name":"","cloudant":"","database":"access","service":"sp-p1828555-ca2-001-cloudantNoSQLDB","payonly":true,"operation":"insert","x":910,"y":400,"wires":[]},{"id":"607c206d.52a02","type":"ibmiot in","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1843059","applicationId":"","deviceType":"gw-p1843059","eventType":"addcard","commandType":"","format":"","name":"Retrieve add card status from Raspberry Pi C ","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":190,"y":320,"wires":[["9e4f202e.8265c"]]},{"id":"e9231ea6.eb1da","type":"ui_text","z":"2466b09a.5a482","group":"a730d5b2.4ab118","order":6,"width":0,"height":0,"name":"Display the adding and deleting card process","label":"","format":"{{msg.payload}}","layout":"row-spread","x":870,"y":340,"wires":[]},{"id":"9e4f202e.8265c","type":"function","z":"2466b09a.5a482","name":"Parse in value when card is added","func":"msg.payload = msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":320,"wires":[["e9231ea6.eb1da"]]},{"id":"ddde9d55.8751f","type":"ibmiot in","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1843059","applicationId":"","deviceType":"gw-p1843059","eventType":"delcard","commandType":"","format":"","name":"Retrieve delete card status from Raspberry Pi C ","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":200,"y":360,"wires":[["55ecac2d.a474a4"]]},{"id":"55ecac2d.a474a4","type":"function","z":"2466b09a.5a482","name":"Parse in value when card is deleted","func":"msg.payload = msg.payload.d.value;\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":360,"wires":[["e9231ea6.eb1da"]]},{"id":"67f92b01.e75c34","type":"function","z":"2466b09a.5a482","name":"Parse wifi speed using global.get","func":"var download = global.get('downloadval')\nvar upload = global.get('uploadval')\nmsg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'message'\nmsg.payload.content = \"The download speed is: \" + Math.ceil(download) + \" Megabits per second\" + \" and upload speed is: \" + Math.ceil(upload) + \" Megabits per second\";\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["58ca1edf.cf118"]]},{"id":"58ca1edf.cf118","type":"ibmiot out","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"gwid-p1843059","deviceType":"gw-p1843059","eventCommandType":"wifi","format":"json","data":"{}","qos":0,"name":"Send  wifi speed to Raspberry Pi C","service":"registered","x":900,"y":480,"wires":[]},{"id":"70bdfa9f.ace394","type":"ibmiot in","z":"2466b09a.5a482","authentication":"boundService","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"gwid-p1843059","applicationId":"","deviceType":"gw-p1843059","eventType":"wifisend","commandType":"","format":"","name":"Retrieve the /wifi command from Raspberry Pi C's Telegram","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":"","allEvents":false,"allCommands":"","allFormats":"","qos":0,"x":230,"y":480,"wires":[["67f92b01.e75c34"]]},{"id":"cf8b8b96.b67808","type":"ui_group","z":"","name":"Speed Test","tab":"53e9aa42.081854","disp":true,"width":"12","collapse":false},{"id":"986e89f1.d89b78","type":"ui_group","z":"","name":"Bulb","tab":"53e9aa42.081854","disp":true,"width":"6","collapse":false,"disabled":false,"hidden":false},{"id":"6a67755e.f0070c","type":"ui_group","z":"","name":"Light Value","tab":"53e9aa42.081854","disp":true,"width":"12","collapse":false},{"id":"ab7f3d98.08281","type":"ui_group","z":"","name":"Temperature / Humidity","tab":"53e9aa42.081854","disp":true,"width":"12","collapse":false},{"id":"9a6ade01.3a2be","type":"ui_group","z":"","name":"hidden_group","tab":"89749f1f.a5973","disp":false,"width":"6","collapse":false},{"id":"5cede54.d8b3b1c","type":"cloudant","z":"","host":"myaccountname.cloudant.com","name":"My Cloudant account"},{"id":"e7a69366.7843b","type":"ui_group","z":"","name":"Alarm System","tab":"53e9aa42.081854","disp":true,"width":"6","collapse":false},{"id":"a730d5b2.4ab118","type":"ui_group","z":"","name":"Door Locks","tab":"53e9aa42.081854","disp":true,"width":"6","collapse":false},{"id":"53e9aa42.081854","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"89749f1f.a5973","type":"ui_tab","z":"","name":"Zooland Sys","icon":"home","order":1,"disabled":false,"hidden":false}]