Json File/Raspberry Pi A.json
[{"id":"872d773f.8e21f8","type":"tab","label":"Raspberry Pi A","disabled":true,"info":""},{"id":"8292e0c3.0048b","type":"inject","z":"872d773f.8e21f8","name":"Poll for internet speed every 15s","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":60,"wires":[["3e88b0d1.68cf9"]]},{"id":"12170c44.25c044","type":"function","z":"872d773f.8e21f8","name":"set download values","func":"var download = msg.payload.speeds.download;\n\nmsg.payload = Math.ceil(download);\nglobal.set('downloadval', msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":80,"wires":[["2c1cce02.1aa0b2"]]},{"id":"faefb2d4.d93c7","type":"inject","z":"872d773f.8e21f8","name":"Send upload value to Bluemix","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":670,"y":160,"wires":[["d650347d.7bad18"]]},{"id":"d650347d.7bad18","type":"function","z":"872d773f.8e21f8","name":"Format msg for speedtest","func":"speed2 = global.get('uploadval')\nmsg.payload = speed2\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":220,"wires":[["adf3aaaf.d06848","9ca8ef4f.305f1"]]},{"id":"2c1cce02.1aa0b2","type":"debug","z":"872d773f.8e21f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":80,"wires":[]},{"id":"adf3aaaf.d06848","type":"debug","z":"872d773f.8e21f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":870,"y":280,"wires":[]},{"id":"d6ec3eae.2f497","type":"inject","z":"872d773f.8e21f8","name":"Send download value to Bluemix","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":160,"wires":[["bffd778a.05bee8"]]},{"id":"bffd778a.05bee8","type":"function","z":"872d773f.8e21f8","name":"Format msg for speedtest","func":"speed1 = global.get('downloadval')\nmsg.payload = speed1\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":220,"wires":[["b68fb7bf.8704b8","eb7426e5.4911d8"]]},{"id":"b68fb7bf.8704b8","type":"debug","z":"872d773f.8e21f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":370,"y":280,"wires":[]},{"id":"62198ed7.747b5","type":"function","z":"872d773f.8e21f8","name":"set upload values","func":"var upload = msg.payload.speeds.upload;\n\nmsg.payload = Math.ceil(upload);\nglobal.set('uploadval', msg.payload)\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":40,"wires":[["c9eeec3b.278f1"]]},{"id":"c9eeec3b.278f1","type":"debug","z":"872d773f.8e21f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":40,"wires":[]},{"id":"f86ed6a7.3b5428","type":"rpi-gpio out","z":"872d773f.8e21f8","name":"LED","pin":"22","set":true,"level":"0","freq":"","out":"out","x":590,"y":360,"wires":[]},{"id":"5230fec8.0f884","type":"debug","z":"872d773f.8e21f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":610,"y":400,"wires":[]},{"id":"4ebc95e.667c36c","type":"function","z":"872d773f.8e21f8","name":"Filter the command","func":"msg.payload = msg.payload.led\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":360,"wires":[["f86ed6a7.3b5428","5230fec8.0f884"]]},{"id":"3e88b0d1.68cf9","type":"speedtest","z":"872d773f.8e21f8","name":"","maxTime":5000,"x":400,"y":60,"wires":[["12170c44.25c044","62198ed7.747b5"]]},{"id":"546c67f.45fec98","type":"wiotp in","z":"872d773f.8e21f8","authType":"g","deviceKey":"b11e1eca.4ca4","deviceType":"","deviceId":"","command":"Bulb","commandType":"g","qos":"1","name":"Listen to LED command from IBM","x":170,"y":360,"wires":[["4ebc95e.667c36c"]]},{"id":"9ca8ef4f.305f1","type":"wiotp out","z":"872d773f.8e21f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"b11e1eca.4ca4","deviceType":"gw-p1804375","deviceId":"gwid-p1804375","event":"speedtest-upload","format":"String","qos":"1","name":"Sending To IBM","x":620,"y":280,"wires":[]},{"id":"eb7426e5.4911d8","type":"wiotp out","z":"872d773f.8e21f8","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"b11e1eca.4ca4","deviceType":"gw-p1804375","deviceId":"gwid-p1804375","event":"speedtest-download","format":"String","qos":"1","name":"Sending To IBM","x":120,"y":280,"wires":[]},{"id":"b11e1eca.4ca4","type":"wiotp-credentials","z":"","name":"","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1804375","devId":"gwid-p1804375","keepalive":"60","cleansession":true,"tls":"","usetls":false}]