Json File/Raspberry Pi B.json
[{"id":"cd49ae27.22472","type":"tab","label":"Raspberry Pi B","disabled":true,"info":""},{"id":"fcc62251.f9c6","type":"function","z":"cd49ae27.22472","name":"store light value","func":"global.set('light', msg.payload)","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["660fd3f0.2c2cfc"]]},{"id":"2dd3829f.610dbe","type":"inject","z":"cd49ae27.22472","name":"poll for light values every 3 secs","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["bc1507d5.254a58"]]},{"id":"bc1507d5.254a58","type":"pimcp3008","z":"cd49ae27.22472","name":"","dev":"3008","pin":0,"dnum":0,"bus":0,"x":390,"y":80,"wires":[["fcc62251.f9c6"]]},{"id":"660fd3f0.2c2cfc","type":"debug","z":"cd49ae27.22472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":800,"y":80,"wires":[]},{"id":"6a76f961.6e0998","type":"wiotp out","z":"cd49ae27.22472","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"ce760c33.1b218","deviceType":"gw-p1828555","deviceId":"gwid-p1828555","event":"light","format":"json","qos":"0","name":"Send Light Value to IBM","x":790,"y":200,"wires":[]},{"id":"f58b87f3.efcb28","type":"debug","z":"cd49ae27.22472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":750,"y":260,"wires":[]},{"id":"dabb3e8a.b1647","type":"function","z":"cd49ae27.22472","name":"format the msg","func":"light = global.get('light')\nmsg.payload = {'d': {'light': light}}\nreturn msg;\n","outputs":1,"noerr":0,"x":400,"y":220,"wires":[["502bdd2a.058724"]]},{"id":"1e3a5862.f7b308","type":"inject","z":"cd49ae27.22472","name":"Send light values to IBM Cloud","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":220,"wires":[["dabb3e8a.b1647"]]},{"id":"502bdd2a.058724","type":"json","z":"cd49ae27.22472","name":"","property":"payload","action":"","pretty":false,"x":590,"y":220,"wires":[["6a76f961.6e0998","f58b87f3.efcb28"]]},{"id":"dd9ba327.36674","type":"debug","z":"cd49ae27.22472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":340,"wires":[]},{"id":"931e6c3d.c98b4","type":"rpi-dht22","z":"cd49ae27.22472","name":"","topic":"rpi-dht22","dht":"11","pintype":"0","pin":4,"x":380,"y":340,"wires":[["dd9ba327.36674","959948b9.cb2268","f4869993.e0e8d8"]]},{"id":"ea786f4a.1095f","type":"debug","z":"cd49ae27.22472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":440,"wires":[]},{"id":"23511eb5.4af172","type":"debug","z":"cd49ae27.22472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":560,"wires":[]},{"id":"959948b9.cb2268","type":"function","z":"cd49ae27.22472","name":"humidity","func":"msg.payload=msg.humidity;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["23511eb5.4af172","63353b52.870654"]]},{"id":"5e590bd1.c3b424","type":"wiotp out","z":"cd49ae27.22472","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"ce760c33.1b218","deviceType":"gw-p1828555","deviceId":"gwid-p1828555","event":"temperature","format":"String","qos":"0","name":"Send Temperature Value to IBM","x":790,"y":380,"wires":[]},{"id":"63353b52.870654","type":"wiotp out","z":"cd49ae27.22472","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"ce760c33.1b218","deviceType":"gw-p1828555","deviceId":"gwid-p1828555","event":"humidity","format":"String","qos":"0","name":"Send humidity Value to IBM","x":760,"y":500,"wires":[]},{"id":"f4869993.e0e8d8","type":"function","z":"cd49ae27.22472","name":"temperature","func":"msg.payload =msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":420,"wires":[["ea786f4a.1095f","5e590bd1.c3b424"]]},{"id":"7942d9de.691f18","type":"inject","z":"cd49ae27.22472","name":"poll for light values every 5 secs","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":340,"wires":[["931e6c3d.c98b4"]]},{"id":"a6d3f656.890dc8","type":"wiotp in","z":"cd49ae27.22472","authType":"g","deviceKey":"ce760c33.1b218","deviceType":"","deviceId":"","command":"led","commandType":"g","qos":0,"name":"Recieve LED Status FROM IBM","x":150,"y":620,"wires":[["db17a409.32b118"]]},{"id":"db17a409.32b118","type":"function","z":"cd49ae27.22472","name":"Convert","func":"msg.payload = msg.payload.led\nreturn msg;\n","outputs":1,"noerr":0,"x":360,"y":620,"wires":[["d65d9698.3c4608","41432e79.cd42b"]]},{"id":"41432e79.cd42b","type":"debug","z":"cd49ae27.22472","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":620,"wires":[]},{"id":"d65d9698.3c4608","type":"rpi-gpio out","z":"cd49ae27.22472","name":"LED OUTPUT","pin":"12","set":false,"level":"0","freq":"","out":"out","x":580,"y":680,"wires":[]},{"id":"ce760c33.1b218","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1828555","devId":"gwid-p1828555","keepalive":"60","cleansession":true,"tls":"","usetls":false}]