Json File/Raspberry Pi C.json
[{"id":"f2e8c116.1463d","type":"tab","label":"Telegram Bot and Alarm System"},{"id":"a809a5e8.32de88","type":"tab","label":"RFID Reader"},{"id":"c5caf032.3cc66","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1843059","devId":"gwid-p1843059","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"1af647c4.86dca8","type":"wiotp-credentials","z":"","name":"pi-maeve-alex","org":"u4oper","devType":"RaspberryPi","devId":"pi-maeve-alex"},{"id":"50f52b20.42f1b4","type":"wiotp-credentials","z":"","name":"Ajmal Raspberry Pi Gateway","org":"gzzlu0","serverName":"gzzlu0.messaging.internetofthings.ibmcloud.com","devType":"gw-p1804375","devId":"gwid-p1804375","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"2e4a44c9.63cfbc","type":"wiotp-credentials","z":"","name":"Ajmal Raspberry Pi Gateway","org":"gzzlu0","serverName":"gzzlu0.messaging.internetofthings.ibmcloud.com","devType":"gw-p1804375","devId":"gwid-p1804375","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"580f72cb.460e2c","type":"telegram bot","z":"","botname":"SmartBedroomBot","usernames":"Titan","chatids":"634903049","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"d826d19e.71168","type":"telegram bot","z":"","botname":"SmartBedroom","usernames":"Titan","chatids":"634903049","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"d83374b0.5cfc08","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1843059","devId":"gwid-p1843059","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"207e0641.b6c89a","type":"telegram bot","z":"","botname":"SmartBedroom","usernames":"Titan","chatids":"634903049","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"761a4d1d.386d34","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1843059","devId":"gwid-p1843059","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"9651c599.cac698","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1843059","devId":"gwid-p1843059","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"2a56e228.f2e3ce","type":"wiotp-credentials","z":"","name":"pi-maeve-alex","org":"u4oper","devType":"RaspberryPi","devId":"pi-maeve-alex"},{"id":"fe8f5a85.11b718","type":"wiotp-credentials","z":"","name":"Ajmal Raspberry Pi Gateway","org":"gzzlu0","serverName":"gzzlu0.messaging.internetofthings.ibmcloud.com","devType":"gw-p1804375","devId":"gwid-p1804375","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"fa75b85d.5e5f88","type":"wiotp-credentials","z":"","name":"Ajmal Raspberry Pi Gateway","org":"gzzlu0","serverName":"gzzlu0.messaging.internetofthings.ibmcloud.com","devType":"gw-p1804375","devId":"gwid-p1804375","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"31812857.5825a8","type":"telegram bot","z":"","botname":"SmartBedroomBot","usernames":"Titan","chatids":"634903049","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"b3bc4312.e1347","type":"telegram bot","z":"","botname":"SmartBedroom","usernames":"Titan","chatids":"634903049","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"29b272b6.9f644e","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1843059","devId":"gwid-p1843059","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"3b68ab43.924724","type":"twilio-api","z":"f2e8c116.1463d","name":"","sid":"AC587183b028f06526fc4a0348534c8c17","from":"+12055283983"},{"id":"3f9a7c5b.41bf14","type":"telegram bot","z":"","botname":"SmartBedroom","usernames":"Titan","chatids":"634903049","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"3d5bfa74.150236","type":"wiotp-credentials","z":"","name":"My Raspberry Pi Gateway","org":"k6be3c","serverName":"k6be3c.messaging.internetofthings.ibmcloud.com","devType":"gw-p1843059","devId":"gwid-p1843059","keepalive":"60","cleansession":true,"tls":"","usetls":false},{"id":"27ce6a4a.f80ba6","type":"twilio-api","z":"","name":"","sid":"AC587183b028f06526fc4a0348534c8c17","from":"+12055283983"},{"id":"45fdccbf.8aa5b4","type":"rpi-gpio in","z":"f2e8c116.1463d","name":"motion","pin":"37","intype":"tri","debounce":"25","read":true,"x":90,"y":160,"wires":[["11bd49b9.89b696","76004a2d.e31154","202585e0.f8cf5a"]]},{"id":"bce12dbd.e8935","type":"debug","z":"f2e8c116.1463d","name":"","active":false,"console":false,"complete":"payload","x":770,"y":100,"wires":[]},{"id":"7111bb10.a93ba4","type":"rpi-gpio out","z":"f2e8c116.1463d","name":"","pin":"12","set":true,"level":"0","out":"out","x":780,"y":40,"wires":[]},{"id":"11bd49b9.89b696","type":"trigger","z":"f2e8c116.1463d","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"10","extend":true,"units":"s","reset":"","name":"","x":410,"y":40,"wires":[["7111bb10.a93ba4"]]},{"id":"76004a2d.e31154","type":"function","z":"f2e8c116.1463d","name":"Send 1 if motion is detected","func":"motion = msg.payload;\nif (motion == 1){\nreturn msg;\n}","outputs":"2","noerr":0,"x":460,"y":160,"wires":[["bce12dbd.e8935"],[]]},{"id":"a629dd83.83b1c","type":"inject","z":"f2e8c116.1463d","name":"","topic":"button","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":240,"wires":[["202585e0.f8cf5a"]]},{"id":"202585e0.f8cf5a","type":"function","z":"f2e8c116.1463d","name":"Alarm On Off Logic","func":"context.motion = context.motion || 0;\ncontext.button = context.button || 0;\n\nif (msg.topic === 'button') {\n  context.button = msg.payload;\n} else {\n  context.motion = msg.payload;\n}\n\nif (context.motion == 1 && context.button == 1 ) {\n  return msg;\n}","outputs":1,"noerr":0,"x":910,"y":240,"wires":[["fde24e5c.dc389","8ef88563.0c9e48","bb56c46a.20e208"]]},{"id":"1b5f673b.8b9939","type":"inject","z":"f2e8c116.1463d","name":"","topic":"button","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":100,"y":280,"wires":[["202585e0.f8cf5a"]]},{"id":"c8d04de7.8c94b","type":"rpi-gpio out","z":"f2e8c116.1463d","name":"Buzzer","pin":"33","set":true,"level":"0","out":"out","x":1380,"y":240,"wires":[]},{"id":"fde24e5c.dc389","type":"trigger","z":"f2e8c116.1463d","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","name":"","x":1120,"y":240,"wires":[["c8d04de7.8c94b"]]},{"id":"1811e85b.2fd098","type":"function","z":"f2e8c116.1463d","name":"Send photo","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'photo'\nmsg.payload.content = '/home/pi/Pictures/foto.jpeg';\nreturn msg;\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/","outputs":1,"noerr":0,"x":1890,"y":340,"wires":[["fbbb7f7.a9c5e8"]]},{"id":"2b11eb9e.996cd4","type":"delay","z":"f2e8c116.1463d","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1660,"y":340,"wires":[["1811e85b.2fd098"]]},{"id":"14a4ba50.349b46","type":"function","z":"f2e8c116.1463d","name":"Send alert","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'message'\nmsg.payload.content = 'Intruder detected!';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1670,"y":520,"wires":[["439dcca6.a364a4"]]},{"id":"8ef88563.0c9e48","type":"delay","z":"f2e8c116.1463d","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1140,"y":340,"wires":[["eafbb7e0.9cf358"]]},{"id":"602e41f5.84396","type":"function","z":"f2e8c116.1463d","name":"Activate alarm","func":"msg.topic = 'button'\nmsg.payload = '1'\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["50e2cb98.779914"]]},{"id":"fb28fa2c.016a98","type":"function","z":"f2e8c116.1463d","name":"Deactivate alarm","func":"msg.topic = \"button\"\nmsg.payload = '0'\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":460,"wires":[["202585e0.f8cf5a"]]},{"id":"50e2cb98.779914","type":"change","z":"f2e8c116.1463d","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"button","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":710,"y":320,"wires":[["202585e0.f8cf5a"]]},{"id":"8e3e1a4c.5abde8","type":"function","z":"f2e8c116.1463d","name":"Response to user(Alarm Activated)","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'message'\nmsg.payload.content = 'Alarm activated';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":440,"y":400,"wires":[["94a38767.289c88","ea32ff88.e5996"]]},{"id":"f5489a57.3300e8","type":"function","z":"f2e8c116.1463d","name":"Response to user(Alarm Deactivated)","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'message'\nmsg.payload.content = 'Alarm Deactivated';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":450,"y":540,"wires":[["8d483d36.a4973","1ed5f2df.97ca4d"]]},{"id":"2aee92a4.056fde","type":"inject","z":"a809a5e8.32de88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":460,"wires":[["2ecbf5e3.ac599a"]]},{"id":"2ecbf5e3.ac599a","type":"exec","z":"a809a5e8.32de88","command":"sudo python Add.py","addpay":false,"append":"","useSpawn":"false","timer":"","name":"Execute Add.py","x":540,"y":400,"wires":[["4fed8771.8f8fb8","bed4076f.2d2b98"],[],[]]},{"id":"1043b029.bd673","type":"inject","z":"a809a5e8.32de88","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":110,"y":660,"wires":[["e3c309ba.b2e358"]]},{"id":"e3c309ba.b2e358","type":"exec","z":"a809a5e8.32de88","command":"sudo python Del.py","addpay":false,"append":"","useSpawn":"false","timer":"","name":"","x":650,"y":600,"wires":[["464c7b0a.8cf394","bed4076f.2d2b98"],[],[]]},{"id":"247ebdb0.d87cc2","type":"function","z":"a809a5e8.32de88","name":"If access denied then execute this","func":"access = msg.payload;\nif (access.includes(\"Denied\")){\nreturn msg;\n}","outputs":1,"noerr":0,"x":500,"y":120,"wires":[["3712ed8d.955a22","b5e96b3e.3a3b18"]]},{"id":"d50a1e25.9a89a","type":"rpi-gpio out","z":"a809a5e8.32de88","name":"Sound the buzzer for one second","pin":"33","set":true,"level":"0","out":"out","x":1220,"y":40,"wires":[]},{"id":"3712ed8d.955a22","type":"trigger","z":"a809a5e8.32de88","op1":"1","op2":"0","op1type":"str","op2type":"str","duration":"1","extend":true,"units":"s","reset":"","name":"","x":900,"y":40,"wires":[["d50a1e25.9a89a","bc93ddc9.566cd"]]},{"id":"dd458a7e.dccc18","type":"function","z":"a809a5e8.32de88","name":"send picture","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'photo'\nmsg.payload.content = '/home/pi/Pictures/foto.jpeg';\nreturn msg;\n/* type can be one of the following\nphoto\naudio\nvideo\nsticker\nvoice\ndocument\n*/","outputs":1,"noerr":0,"x":1530,"y":120,"wires":[["4380f77a.b4e5a8"]]},{"id":"c0d0a655.4e98c8","type":"delay","z":"a809a5e8.32de88","name":"Wait for 2 seconds","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1250,"y":120,"wires":[["dd458a7e.dccc18"]]},{"id":"4d47e33.7de541c","type":"function","z":"a809a5e8.32de88","name":"Send alert","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'message'\nmsg.payload.content = 'Intruder detected!';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1230,"y":220,"wires":[["ba5d2386.c6ffb"]]},{"id":"a5f804c4.538538","type":"function","z":"f2e8c116.1463d","name":"Response to user(Help)","func":"msg.payload = {}\nmsg.payload.chatId = 634903049\nmsg.payload.type = 'message'\nmsg.payload.content = '/alarmOn - Alarm system in the kitchen will be turned on.\\n/alarmOff - Alarm system in the kitchen will be turned off.\\n/wifi - Wifi upload speed and download speed will be sent.';\nreturn msg;\n\n","outputs":1,"noerr":0,"x":410,"y":640,"wires":[["c1eadb2e.032ee8"]]},{"id":"2a409b17.af2214","type":"wiotp in","z":"f2e8c116.1463d","authType":"g","deviceKey":"9651c599.cac698","deviceType":"","deviceId":"","command":"buttonOn","commandType":"g","qos":0,"name":"Waiting command to turn on alarm from IBM","x":210,"y":320,"wires":[["602e41f5.84396","8e3e1a4c.5abde8"]]},{"id":"bb56c46a.20e208","type":"debug","z":"f2e8c116.1463d","name":"","active":true,"console":false,"complete":"false","x":1130,"y":140,"wires":[]},{"id":"f8e254d3.efa3b8","type":"wiotp in","z":"f2e8c116.1463d","authType":"g","deviceKey":"9651c599.cac698","deviceType":"","deviceId":"","command":"buttonOff","commandType":"g","qos":0,"name":"Waiting command to turn off alarm from IBM","x":210,"y":460,"wires":[["fb28fa2c.016a98","f5489a57.3300e8"]]},{"id":"daa93332.605ba","type":"wiotp out","z":"f2e8c116.1463d","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"9651c599.cac698","deviceType":"gw-p1843059","deviceId":"gwid-p1843059","event":"alarmon","format":"json","qos":"0","name":"Sending Alarm Status To IBM","x":1140,"y":420,"wires":[]},{"id":"82f16d41.f145f","type":"wiotp in","z":"a809a5e8.32de88","authType":"g","deviceKey":"9651c599.cac698","deviceType":"","deviceId":"","command":"AddTag","commandType":"g","qos":0,"name":"Waiting command to trigger add card process from IBM","x":260,"y":360,"wires":[["2ecbf5e3.ac599a"]]},{"id":"a50c59fb.034aa8","type":"wiotp in","z":"a809a5e8.32de88","authType":"g","deviceKey":"9651c599.cac698","deviceType":"","deviceId":"","command":"DelTag","commandType":"g","qos":0,"name":"Waiting command to trigger delete card process from IBM","x":270,"y":560,"wires":[["e3c309ba.b2e358"]]},{"id":"94a38767.289c88","type":"function","z":"f2e8c116.1463d","name":"Send status of alarm system to Ibm Cloud","func":"msg.payload = 'Alarm turned on'\nreturn msg;\n","outputs":1,"noerr":0,"x":780,"y":460,"wires":[["daa93332.605ba","d4d6c85.9157138"]]},{"id":"6c9aa6ba.fe26f8","type":"wiotp out","z":"a809a5e8.32de88","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"9651c599.cac698","deviceType":"gw-p1843059","deviceId":"gwid-p1843059","event":"card","format":"json","qos":"","name":"Send RFID reader status to IBM","x":496,"y":207.00000286102295,"wires":[]},{"id":"7aca7f06.6b7b3","type":"wiotp out","z":"f2e8c116.1463d","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"9651c599.cac698","deviceType":"gw-p1843059","deviceId":"gwid-p1843059","event":"alarmoff","format":"json","qos":"0","name":"Sending Alarm Status To IBM","x":1140,"y":580,"wires":[]},{"id":"8d483d36.a4973","type":"function","z":"f2e8c116.1463d","name":"Send status of alarm system to Ibm Cloud","func":"msg.payload = 'Alarm turned off'\nreturn msg;\n","outputs":1,"noerr":0,"x":800,"y":580,"wires":[["7aca7f06.6b7b3","d4d6c85.9157138"]]},{"id":"4fed8771.8f8fb8","type":"wiotp out","z":"a809a5e8.32de88","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"9651c599.cac698","deviceType":"gw-p1843059","deviceId":"gwid-p1843059","event":"addcard","format":"json","qos":"","name":"Send add card details to IBM","x":1000,"y":380,"wires":[]},{"id":"464c7b0a.8cf394","type":"wiotp out","z":"a809a5e8.32de88","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"9651c599.cac698","deviceType":"gw-p1843059","deviceId":"gwid-p1843059","event":"delcard","format":"json","qos":"","name":"Send delete card details to IBM","x":1010,"y":580,"wires":[]},{"id":"bed4076f.2d2b98","type":"debug","z":"a809a5e8.32de88","name":"","active":false,"console":false,"complete":"false","x":950,"y":480,"wires":[]},{"id":"f1d61e12.aa66","type":"debug","z":"a809a5e8.32de88","name":"","active":true,"console":false,"complete":"false","x":430,"y":280,"wires":[]},{"id":"d4d6c85.9157138","type":"debug","z":"f2e8c116.1463d","name":"","active":true,"console":false,"complete":"false","x":1090,"y":500,"wires":[]},{"id":"6b85db2e.d22a04","type":"wiotp in","z":"f2e8c116.1463d","authType":"g","deviceKey":"9651c599.cac698","deviceType":"","deviceId":"","command":"wifi","commandType":"g","qos":0,"name":"Retrieving Wifi Speed from IBM","x":170,"y":720,"wires":[["e79d4f02.c3fa5"]]},{"id":"e79d4f02.c3fa5","type":"function","z":"f2e8c116.1463d","name":"Retrieve message information from IBM Cloud ","func":"return msg;\n","outputs":1,"noerr":0,"x":680,"y":720,"wires":[["9bbc6589.c17178"]]},{"id":"4392619f.d1d4a","type":"function","z":"f2e8c116.1463d","name":"Send signal to parse wifi info to local RPI","func":"msg.topic = 'wifisend'\nmsg.payload = '1'\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":820,"wires":[["8c5aea51.1ed2c8"]]},{"id":"8c5aea51.1ed2c8","type":"change","z":"f2e8c116.1463d","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"wifisend","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":820,"wires":[["db529629.59a1a8"]]},{"id":"db529629.59a1a8","type":"wiotp out","z":"f2e8c116.1463d","authType":"g","qs":"false","qsDeviceId":"","deviceKey":"9651c599.cac698","deviceType":"gw-p1843059","deviceId":"gwid-p1843059","event":"wifisend","format":"json","qos":"0","name":"Send command to retrieve wifi info to IBM","x":1140,"y":820,"wires":[]},{"id":"c1eadb2e.032ee8","type":"telegram sender","z":"f2e8c116.1463d","name":"","bot":"31812857.5825a8","x":730,"y":640,"wires":[[]]},{"id":"eafbb7e0.9cf358","type":"camerapi-takephoto","z":"f2e8c116.1463d","filemode":"1","filename":"foto.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take photo","x":1390,"y":340,"wires":[["2b11eb9e.996cd4","14a4ba50.349b46","2470a5.6f346f5c","a538a11f.3d9b5"]]},{"id":"b5e96b3e.3a3b18","type":"camerapi-takephoto","z":"a809a5e8.32de88","filemode":"1","filename":"foto.jpeg","filedefpath":"0","filepath":"/home/pi/Pictures/","fileformat":"jpeg","resolution":"3","rotation":"0","fliph":"0","flipv":"0","brightness":"50","contrast":"0","sharpness":"0","quality":"80","imageeffect":"none","exposuremode":"auto","iso":"0","agcwait":"1.0","led":"0","awb":"auto","name":"Take photo","x":910,"y":160,"wires":[["c0d0a655.4e98c8","4d47e33.7de541c"]]},{"id":"9bbc6589.c17178","type":"telegram sender","z":"f2e8c116.1463d","name":"","bot":"31812857.5825a8","x":1049,"y":717.0000290870667,"wires":[[]]},{"id":"ea32ff88.e5996","type":"telegram sender","z":"f2e8c116.1463d","name":"","bot":"31812857.5825a8","x":873,"y":362,"wires":[[]]},{"id":"1ed5f2df.97ca4d","type":"telegram sender","z":"f2e8c116.1463d","name":"","bot":"31812857.5825a8","x":788,"y":520,"wires":[[]]},{"id":"fbbb7f7.a9c5e8","type":"telegram sender","z":"f2e8c116.1463d","name":"","bot":"31812857.5825a8","x":2124,"y":347,"wires":[[]]},{"id":"439dcca6.a364a4","type":"telegram sender","z":"f2e8c116.1463d","name":"","bot":"31812857.5825a8","x":1926,"y":516,"wires":[[]]},{"id":"4380f77a.b4e5a8","type":"telegram sender","z":"a809a5e8.32de88","name":"","bot":"31812857.5825a8","x":1817,"y":116,"wires":[[]]},{"id":"ba5d2386.c6ffb","type":"telegram sender","z":"a809a5e8.32de88","name":"","bot":"31812857.5825a8","x":1499,"y":221,"wires":[[]]},{"id":"a6069ec0.10666","type":"telegram command","z":"f2e8c116.1463d","name":"","command":"/wifi","bot":"31812857.5825a8","strict":false,"x":113.5,"y":825.0000133514404,"wires":[["4392619f.d1d4a"],[]]},{"id":"b156775a.6a3248","type":"telegram command","z":"f2e8c116.1463d","name":"","command":"/help","bot":"31812857.5825a8","strict":false,"x":110,"y":591,"wires":[["a5f804c4.538538"],[]]},{"id":"10e08610.4fe84a","type":"telegram command","z":"f2e8c116.1463d","name":"","command":"/alarmOff","bot":"31812857.5825a8","strict":false,"x":102,"y":521,"wires":[["f5489a57.3300e8","fb28fa2c.016a98"],[]]},{"id":"42f373c7.48b11c","type":"telegram command","z":"f2e8c116.1463d","name":"","command":"/alarmOn","bot":"31812857.5825a8","strict":false,"x":122,"y":366,"wires":[["8e3e1a4c.5abde8","602e41f5.84396"],[]]},{"id":"2470a5.6f346f5c","type":"file in","z":"f2e8c116.1463d","name":"Snapshot photo","filename":"/home/pi/Pictures/foto.jpeg","format":"","x":1632,"y":242,"wires":[["7f94507b.07509"]]},{"id":"7f94507b.07509","type":"function","z":"f2e8c116.1463d","name":"Email-subject: Someone has arrived","func":"msg.topic=\"Someone has arrived\"\nmsg.filename=\"foto.jpeg\";\nreturn msg;","outputs":1,"noerr":0,"x":1922,"y":242,"wires":[["d76b0d51.deb98"]]},{"id":"d76b0d51.deb98","type":"e-mail","z":"f2e8c116.1463d","server":"smtp.gmail.com","port":"465","secure":true,"name":"DamianTan25.18@ichat.sp.edu.sg","dname":"","x":2292,"y":242,"wires":[]},{"id":"fd22d0ab.be90c","type":"twilio out","z":"f2e8c116.1463d","twilio":"27ce6a4a.f80ba6","twilioType":"sms","url":"","number":"+6581789275","name":"","x":2185,"y":164,"wires":[]},{"id":"a538a11f.3d9b5","type":"template","z":"f2e8c116.1463d","name":"Activity is detected","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Some activity is being detected in front of your house","x":1625,"y":164,"wires":[["fd22d0ab.be90c"]]},{"id":"bc93ddc9.566cd","type":"rpi-gpio out","z":"a809a5e8.32de88","name":"","pin":"16","set":true,"level":"0","out":"out","x":1507.5,"y":56,"wires":[]},{"id":"ad9e2968.bd1458","type":"daemon","z":"a809a5e8.32de88","name":"RFIDReader","command":"python","args":"-u /home/pi/Read.py","autorun":true,"cr":false,"redo":true,"op":"string","closer":"SIGKILL","x":129,"y":60,"wires":[["247ebdb0.d87cc2","6c9aa6ba.fe26f8","f1d61e12.aa66"],["936a2305.3c53f"],["ffb5db82.83e788"]]},{"id":"936a2305.3c53f","type":"debug","z":"a809a5e8.32de88","name":"","active":true,"console":false,"complete":"false","x":183.60000228881836,"y":150.00000286102295,"wires":[]},{"id":"ffb5db82.83e788","type":"debug","z":"a809a5e8.32de88","name":"","active":true,"console":false,"complete":"false","x":187.60000610351562,"y":232,"wires":[]}]